pipeline/PL_Data_PLM_Files_SFTP_to_ADLS.json
{
	"name": "PL_Data_PLM_Files_SFTP_to_ADLS",
	"properties": {
		"activities": [
			{
				"name": "Get_File_Details_from_SFTP",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SFTP_Files",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().globalParameters.directory_sftp",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_File_Details_from_SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_File_Details_from_SFTP').output.childitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute_PL_Data_to_Log_Tables",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set variable1_copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Data_PLM_Files_Landing_to_Raw_Directory",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"file_name": {
										"value": "@variables('v_file_names_copy')",
										"type": "Expression"
									},
									"file_size": {
										"value": "@activity('Get_Metadata_FIle_Size').output.size",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set variable1_copy",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get_Metadata_FIle_Size",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_file_names_copy",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get_Metadata_FIle_Size",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_SFTP_Files_copy1",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@pipeline().parameters.directory_sftp",
											"type": "Expression"
										},
										"file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"size"
								],
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"directory_sftp": {
				"type": "string",
				"defaultValue": "/home/svcrndreporting/"
			}
		},
		"variables": {
			"v_file_names_copy": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PL_ClOROX_SR"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-16T06:23:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}