pipeline/PL_Data_Adhoc_Files_ADLS_to_DB.json
{
	"name": "PL_Data_Adhoc_Files_ADLS_to_DB",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename_trim_value",
					"value": {
						"value": "@substring(pipeline().parameters.file_name,0,4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(or(or(equals(variables('filename_trim_value'),'Expo'),equals(variables('filename_trim_value'),'Excl')), equals(variables('filename_trim_value'),'Pack')), equals(variables('filename_trim_value'), 'TU M'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Switch_File_Type_copy1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@variables('filename_trim_value')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Expo",
										"activities": [
											{
												"name": "PF_Export_Job_Name_copy1",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "job_name",
													"value": {
														"value": "@variables('job_name_Export_value')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "LKP_Job_Key_Export",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "PF_Export_Job_Name_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('select job_key from ' ,pipeline().parameters.schema,'.',pipeline().parameters.table_job_control,' where job_name=''',variables('job_name_Export_value'),'''')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "LKP_Job_Run_Log_Export",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "LKP_Job_Key_Export",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[Rnd].[USP_Insert_Job_Run]",
														"storedProcedureParameters": {
															"ADF_Name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().DataFactory",
																	"type": "Expression"
																}
															},
															"file_transfer_flag": {
																"type": "String",
																"value": {
																	"value": "@variables('file_transfer_flag')",
																	"type": "Expression"
																}
															},
															"job_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Key_Export').output.firstRow.job_key",
																	"type": "Expression"
																}
															},
															"job_start_date_time": {
																"type": "DateTime",
																"value": {
																	"value": "@pipeline().TriggerTime",
																	"type": "Expression"
																}
															},
															"last_update_date": {
																"type": "DateTime",
																"value": {
																	"value": "@pipeline().TriggerTime",
																	"type": "Expression"
																}
															},
															"Pipeline_Name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															"Pipeline_Start_Time": {
																"type": "DateTime",
																"value": {
																	"value": "@pipeline().TriggerTime",
																	"type": "Expression"
																}
															},
															"PL_Run_ID": {
																"type": "String",
																"value": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															},
															"Action": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.action_insert",
																	"type": "Expression"
																}
															},
															"Execution_Status": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.exec_status",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "Copy_data_FTP_to_Landing_Export",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "LKP_Job_Run_Log_Export",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "FtpReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false,
															"useBinaryTransfer": true
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": {
																"value": "@pipeline().parameters.file_extension",
																"type": "Expression"
															}
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_FTP_All_Files",
														"type": "DatasetReference",
														"parameters": {
															"directory": {
																"value": "@pipeline().globalParameters.directory_ftp_adhoc",
																"type": "Expression"
															},
															"file": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															},
															"sheet_name": {
																"value": "@pipeline().parameters.sheet_export",
																"type": "Expression"
															},
															"range": {
																"value": "@pipeline().parameters.range_export",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_PLM_EBOM_copy2",
														"type": "DatasetReference",
														"parameters": {
															"filesystem": {
																"value": "@pipeline().parameters.filesystem_adls",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.directory_export",
																"type": "Expression"
															},
															"filename": {
																"value": "@concat(variables('container'),'.xlsx')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LKP_Job_File_Log_Export",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Copy_data_FTP_to_Landing_Export",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[Rnd].[USP_Job_File_Log]",
														"storedProcedureParameters": {
															"file_location": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.directory_export",
																	"type": "Expression"
																}
															},
															"file_name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_name",
																	"type": "Expression"
																}
															},
															"file_size": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_size",
																	"type": "Expression"
																}
															},
															"job_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Key_Export').output.firstRow.job_key",
																	"type": "Expression"
																}
															},
															"job_run_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Run_Log_Export').output.firstRow.job_run_key",
																	"type": "Expression"
																}
															},
															"job_file_key": {
																"type": "String",
																"value": null
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "Copy_data_Landing_to_Temp_Table",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "LKP_Job_File_Log_Export",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "export_filename",
																"value": {
																	"value": "@pipeline().parameters.file_name",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": true,
													"logSettings": {
														"enableCopyActivityLog": true,
														"copyActivityLogSettings": {
															"logLevel": "Warning",
															"enableReliableLogging": false
														},
														"logLocationSettings": {
															"linkedServiceName": {
																"referenceName": "LS_SR_ABLB",
																"type": "LinkedServiceReference"
															},
															"path": "clx-datalake/Raw/RnD/Files"
														}
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "CY2020 Reporting Period",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "metric",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "VMS",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "vms",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Other Export",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "other_export",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Canada",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "canada",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "LATAM",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "latin_america",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "AMEA",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "amea",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Asia",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "asia",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Export Total",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "export_total",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "export_filename",
																	"type": "String"
																},
																"sink": {
																	"name": "export_file_name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ABLB_Sustainability",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.filesystem_adls",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.directory_export",
																"type": "Expression"
															},
															"file": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_FTP_Files",
														"type": "DatasetReference",
														"parameters": {
															"table": {
																"value": "@pipeline().parameters.table_export",
																"type": "Expression"
															},
															"schema": {
																"value": "@pipeline().parameters.schema_ftp",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LKP_Job_File_Log_RAW_to_DB_Export",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Copy_data_Landing_to_Temp_Table",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[Rnd].[USP_Job_File_Log]",
														"storedProcedureParameters": {
															"file_location": {
																"type": "String",
																"value": {
																	"value": "@pipeline().globalParameters.directory_ftp_adhoc",
																	"type": "Expression"
																}
															},
															"file_name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_name",
																	"type": "Expression"
																}
															},
															"file_size": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_size",
																	"type": "Expression"
																}
															},
															"job_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Key_Export').output.firstRow.job_key",
																	"type": "Expression"
																}
															},
															"job_run_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Run_Log_Export').output.firstRow.job_run_key",
																	"type": "Expression"
																}
															},
															"job_file_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_File_Log_Export').output.firstRow.job_file_key",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "LKP_Update_Record_Landing_Table_Export",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "LKP_Job_File_Log_RAW_to_DB_Export",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('Update ' ,pipeline().parameters.schema,'.',pipeline().parameters.table_job_run_log, ' set records_copied = ' , activity('Copy_data_Landing_to_Temp_Table').output.rowsCopied ,  ',' ,  ' records_read = ' , activity('Copy_data_Landing_to_Temp_Table').output.rowsRead , ' where  job_key = ' ,activity('LKP_Job_Key_Export').output.firstRow.job_key, ' and job_run_key =' , activity('LKP_Job_Run_Log_Export').output.firstRow.job_run_key, ';select 0 as DummyValue;')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "SP_Temp_table_to_Rnd_Export",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LKP_Update_Record_Landing_Table_Export",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[Rnd].[usp_lnd_to_rnd_export]",
													"storedProcedureParameters": {
														"file_name": {
															"value": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															},
															"type": "String"
														},
														"job_key": {
															"value": {
																"value": "@activity('LKP_Job_Key_Export').output.firstRow.job_key",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"job_run_key": {
															"value": {
																"value": "@activity('LKP_Job_Run_Log_Export').output.firstRow.job_run_key",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"message": {
															"value": null,
															"type": "String"
														},
														"status": {
															"value": null,
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_AzureSQDb_Admin",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Execute Pipeline1_copy1",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "SP_Temp_table_to_Rnd_Export",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_Tran_Adhoc_Files_Target_Table_to_Curated",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"filename": {
															"value": "@pipeline().parameters.file_name",
															"type": "Expression"
														},
														"table": {
															"value": "@pipeline().parameters.table_export_rnd",
															"type": "Expression"
														},
														"container": {
															"value": "@pipeline().parameters.container_export",
															"type": "Expression"
														},
														"job_file_key": {
															"value": "@activity('LKP_Job_File_Log_export').output.firstRow.job_file_key",
															"type": "Expression"
														},
														"job_name_exclusion_value": {
															"value": "@pipeline().parameters.job_name_export",
															"type": "Expression"
														},
														"mapping_dynamic": {
															"value": "@pipeline().parameters.mapping_export",
															"type": "Expression"
														},
														"file_name_query": {
															"value": "@pipeline().parameters.export_file_name_query",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Excl",
										"activities": [
											{
												"name": "PF_Export_Job_Name_Exclusion",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "job_name",
													"value": {
														"value": "@variables('job_name_exclusion')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "LKP_Job_Key_Exclusion",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "PF_Export_Job_Name_Exclusion",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('select job_key from ' ,pipeline().parameters.schema,'.',pipeline().parameters.table_job_control,' where job_name=''',variables('job_name_Export_value'),'''')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "LKP_Job_Run_Log_Exclusion",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "LKP_Job_Key_Exclusion",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[Rnd].[USP_Insert_Job_Run]",
														"storedProcedureParameters": {
															"ADF_Name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().DataFactory",
																	"type": "Expression"
																}
															},
															"file_transfer_flag": {
																"type": "String",
																"value": {
																	"value": "@variables('file_transfer_flag')",
																	"type": "Expression"
																}
															},
															"job_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Key_Exclusion').output.firstRow.job_key",
																	"type": "Expression"
																}
															},
															"job_start_date_time": {
																"type": "DateTime",
																"value": {
																	"value": "@pipeline().TriggerTime",
																	"type": "Expression"
																}
															},
															"last_update_date": {
																"type": "DateTime",
																"value": {
																	"value": "@pipeline().TriggerTime",
																	"type": "Expression"
																}
															},
															"Pipeline_Name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															"Pipeline_Start_Time": {
																"type": "DateTime",
																"value": {
																	"value": "@pipeline().TriggerTime",
																	"type": "Expression"
																}
															},
															"PL_Run_ID": {
																"type": "String",
																"value": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															},
															"Action": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.action_insert",
																	"type": "Expression"
																}
															},
															"Execution_Status": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.exec_status",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "Copy_data_FTP_to_Landing_Exclusion",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "LKP_Job_Run_Log_Exclusion",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "FtpReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false,
															"useBinaryTransfer": true
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": {
																"value": "@pipeline().parameters.file_extension",
																"type": "Expression"
															}
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_FTP_All_Files",
														"type": "DatasetReference",
														"parameters": {
															"directory": {
																"value": "@pipeline().globalParameters.directory_ftp_adhoc",
																"type": "Expression"
															},
															"file": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															},
															"sheet_name": {
																"value": "@pipeline().parameters.sheet_exclusion",
																"type": "Expression"
															},
															"range": {
																"value": "@pipeline().parameters.range_exclusion",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_PLM_EBOM_copy2",
														"type": "DatasetReference",
														"parameters": {
															"filesystem": {
																"value": "@pipeline().parameters.filesystem_adls",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.directory_exclusion",
																"type": "Expression"
															},
															"filename": {
																"value": "@concat(variables('container'),'.xlsx')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LKP_Job_File_Log_Exclusion",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Copy_data_FTP_to_Landing_Exclusion",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[Rnd].[USP_Job_File_Log]",
														"storedProcedureParameters": {
															"file_location": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.directory_exclusion",
																	"type": "Expression"
																}
															},
															"file_name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_name",
																	"type": "Expression"
																}
															},
															"file_size": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_size",
																	"type": "Expression"
																}
															},
															"job_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Key_Exclusion').output.firstRow.job_key",
																	"type": "Expression"
																}
															},
															"job_run_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Run_Log_Exclusion').output.firstRow.job_run_key",
																	"type": "Expression"
																}
															},
															"job_file_key": {
																"type": "String",
																"value": null
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "Copy_data_Landing_Temp_Table_Exclusion",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "LKP_Job_File_Log_Exclusion",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "exclusion_file_name",
																"value": {
																	"value": "@pipeline().parameters.file_name",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": true,
													"logSettings": {
														"enableCopyActivityLog": true,
														"copyActivityLogSettings": {
															"logLevel": "Warning",
															"enableReliableLogging": false
														},
														"logLocationSettings": {
															"linkedServiceName": {
																"referenceName": "LS_SR_ABLB",
																"type": "LinkedServiceReference"
															},
															"path": "clx-datalake/Raw/RnD/Files"
														}
													},
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "TU",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "tradeunit",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Packaging Spec #",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "material_spec",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Description",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "material_description",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Division",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "material_division",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Point Person",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "point_person",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Notes",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "notes",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "exclusion_file_name",
																	"type": "String"
																},
																"sink": {
																	"name": "exclusion_file_name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ABLB_Sustainability",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.filesystem_adls",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.directory_exclusion",
																"type": "Expression"
															},
															"file": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_FTP_Files",
														"type": "DatasetReference",
														"parameters": {
															"table": {
																"value": "@pipeline().parameters.table_exclusion",
																"type": "Expression"
															},
															"schema": {
																"value": "@pipeline().parameters.schema_ftp",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "LKP_Job_File_Log_RAW_to_DB_Exclusion",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Copy_data_Landing_Temp_Table_Exclusion",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[Rnd].[USP_Job_File_Log]",
														"storedProcedureParameters": {
															"file_location": {
																"type": "String",
																"value": {
																	"value": "@pipeline().globalParameters.directory_ftp_adhoc",
																	"type": "Expression"
																}
															},
															"file_name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_name",
																	"type": "Expression"
																}
															},
															"file_size": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_size",
																	"type": "Expression"
																}
															},
															"job_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Key_Exclusion').output.firstRow.job_key",
																	"type": "Expression"
																}
															},
															"job_run_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Run_Log_Exclusion').output.firstRow.job_run_key",
																	"type": "Expression"
																}
															},
															"job_file_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_File_Log_Exclusion').output.firstRow.job_file_key",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "LKP_Update_Record_Landing_Table_Exclusion",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "LKP_Job_File_Log_RAW_to_DB_Exclusion",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('Update ' ,pipeline().parameters.schema,'.',pipeline().parameters.table_job_run_log, ' set records_copied = ' , activity('Copy_data_Landing_Temp_Table_Exclusion').output.rowsCopied ,  ',' ,  ' records_read = ' , activity('Copy_data_Landing_Temp_Table_Exclusion').output.rowsRead , ' where  job_key = ' , activity('LKP_Job_Key_Exclusion').output.firstRow.job_key, ' and job_run_key =' , activity('LKP_Job_Run_Log_Exclusion').output.firstRow.job_run_key, ';select 0 as DummyValue;')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "SP_Temp_Table_to_Rnd_Exclusion",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LKP_Update_Record_Landing_Table_Exclusion",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[Rnd].[usp_lnd_to_rnd_exclusion]",
													"storedProcedureParameters": {
														"file_name": {
															"value": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															},
															"type": "String"
														},
														"job_key": {
															"value": {
																"value": "@activity('LKP_Job_Key_Exclusion').output.firstRow.job_key",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"job_run_key": {
															"value": {
																"value": "@activity('LKP_Job_Run_Log_Exclusion').output.firstRow.job_run_key",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"message": {
															"value": null,
															"type": "String"
														},
														"status": {
															"value": null,
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_AzureSQDb_Admin",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Execute Pipeline1",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "SP_Temp_Table_to_Rnd_Exclusion",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_Tran_Adhoc_Files_Target_Table_to_Curated",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"table": {
															"value": "@pipeline().parameters.table_exclusion_rnd",
															"type": "Expression"
														},
														"container": {
															"value": "@pipeline().parameters.container_exclusion",
															"type": "Expression"
														},
														"job_file_key": {
															"value": "@activity('LKP_Job_File_Log_Exclusion').output.firstRow.job_file_key",
															"type": "Expression"
														},
														"job_name_exclusion_value": {
															"value": "@pipeline().parameters.job_name_exclusion",
															"type": "Expression"
														},
														"mapping_dynamic": {
															"value": "@pipeline().parameters.mapping_exclusion",
															"type": "Expression"
														},
														"file_name_query": {
															"value": "@pipeline().parameters.exclusion_file_name_query",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Pack",
										"activities": [
											{
												"name": "LKP_Job_Key_Substitution",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "PF_Export_Job_Name_Substitution",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('select job_key from ' ,pipeline().parameters.schema,'.',pipeline().parameters.table_job_control,' where job_name=''',variables('job_name_substitution'),'''')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "LKP_Job_Run_Log_Substitution",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "LKP_Job_Key_Substitution",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[Rnd].[USP_Insert_Job_Run]",
														"storedProcedureParameters": {
															"ADF_Name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().DataFactory",
																	"type": "Expression"
																}
															},
															"file_transfer_flag": {
																"type": "String",
																"value": {
																	"value": "@variables('file_transfer_flag')",
																	"type": "Expression"
																}
															},
															"job_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Key_Substitution').output.firstRow.job_key",
																	"type": "Expression"
																}
															},
															"job_start_date_time": {
																"type": "DateTime",
																"value": {
																	"value": "@pipeline().TriggerTime",
																	"type": "Expression"
																}
															},
															"last_update_date": {
																"type": "DateTime",
																"value": {
																	"value": "@pipeline().TriggerTime",
																	"type": "Expression"
																}
															},
															"Pipeline_Name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															"Pipeline_Start_Time": {
																"type": "DateTime",
																"value": {
																	"value": "@pipeline().TriggerTime",
																	"type": "Expression"
																}
															},
															"PL_Run_ID": {
																"type": "String",
																"value": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															},
															"Action": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.action_insert",
																	"type": "Expression"
																}
															},
															"Execution_Status": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.exec_status",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "LKP_Job_File_Log_Substitution",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Copyfrom_FTP_to_Raw_Substitution",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[Rnd].[USP_Job_File_Log]",
														"storedProcedureParameters": {
															"file_location": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.directory_substitution",
																	"type": "Expression"
																}
															},
															"file_name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_name",
																	"type": "Expression"
																}
															},
															"file_size": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_size",
																	"type": "Expression"
																}
															},
															"job_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Key_Substitution').output.firstRow.job_key",
																	"type": "Expression"
																}
															},
															"job_run_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Run_Log_Substitution').output.firstRow.job_run_key",
																	"type": "Expression"
																}
															},
															"job_file_key": {
																"type": "String",
																"value": null
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "LKP_Job_File_Log_RAW_to_DB_Substitution",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Copy_from_raw_to_Temp_table_Substitution",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[Rnd].[USP_Job_File_Log]",
														"storedProcedureParameters": {
															"file_location": {
																"type": "String",
																"value": {
																	"value": "@pipeline().globalParameters.directory_ftp_adhoc",
																	"type": "Expression"
																}
															},
															"file_name": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_name",
																	"type": "Expression"
																}
															},
															"file_size": {
																"type": "String",
																"value": {
																	"value": "@pipeline().parameters.file_size",
																	"type": "Expression"
																}
															},
															"job_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Key_Substitution').output.firstRow.job_key",
																	"type": "Expression"
																}
															},
															"job_run_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_Run_Log_Substitution').output.firstRow.job_run_key",
																	"type": "Expression"
																}
															},
															"job_file_key": {
																"type": "String",
																"value": {
																	"value": "@activity('LKP_Job_File_Log_Substitution').output.firstRow.job_file_key",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "LKP_Update_Record_Landing_Table_Substitution",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "LKP_Job_File_Log_RAW_to_DB_Substitution",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('Update ' ,pipeline().parameters.schema,'.',pipeline().parameters.table_job_run_log, ' set records_copied = ' , activity('Copy_from_raw_to_Temp_Table_Substitution').output.rowsCopied ,  ',' ,  ' records_read = ' , activity('Copy_from_raw_to_Temp_Table_Substitution').output.rowsRead , ' where  job_key = ' , activity('LKP_Job_Key_Substitution').output.firstRow.job_key, ' and job_run_key =' , activity('LKP_Job_Run_Log_Substitution').output.firstRow.job_run_key, ';select 0 as DummyValue;')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LND_STG_ADMIN",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "PF_Export_Job_Name_Substitution",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "job_name",
													"value": {
														"value": "@variables('job_name_substitution')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "SP_Temp_Table_to_Rnd_Substitution",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "LKP_Update_Record_Landing_Table_Substitution",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[Rnd].[usp_lnd_to_rnd_substitution]",
													"storedProcedureParameters": {
														"file_name": {
															"value": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															},
															"type": "String"
														},
														"job_key": {
															"value": {
																"value": "@activity('LKP_Job_Key_Substitution').output.firstRow.job_key",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"job_run_key": {
															"value": {
																"value": "@activity('LKP_Job_Run_Log_Substitution').output.firstRow.job_run_key",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"message": {
															"value": null,
															"type": "String"
														},
														"status": {
															"value": null,
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_AzureSQDb_Admin",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Copyfrom_FTP_to_Raw_Substitution",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "LKP_Job_Run_Log_Substitution",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "FtpReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false,
															"useBinaryTransfer": true
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": {
																"value": "@pipeline().parameters.file_extension",
																"type": "Expression"
															}
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_FTP_All_Files",
														"type": "DatasetReference",
														"parameters": {
															"directory": {
																"value": "@pipeline().globalParameters.directory_ftp_adhoc",
																"type": "Expression"
															},
															"file": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															},
															"sheet_name": {
																"value": "@pipeline().parameters.sheet_substitutions",
																"type": "Expression"
															},
															"range": {
																"value": "@pipeline().parameters.range_substitution",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_PLM_EBOM_copy2",
														"type": "DatasetReference",
														"parameters": {
															"filesystem": {
																"value": "@pipeline().parameters.filesystem_adls",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.directory_substitution",
																"type": "Expression"
															},
															"filename": "@concat(variables('container'),'.xlsx')"
														}
													}
												]
											},
											{
												"name": "Copy_from_raw_to_Temp_table_Substitution",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "LKP_Job_File_Log_Substitution",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "substitution_file_name",
																"value": {
																	"value": "@pipeline().parameters.file_name",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Packaging Spec #",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "material_spec",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Description",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "material_description",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Division",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "material_division",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "PCR (%)",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "material_pcr",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Wt (g)",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "material_weight",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Point Person",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "point_person",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Notes",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "notes",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "substitution_file_name",
																	"type": "String"
																},
																"sink": {
																	"name": "substitution_file_name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ABLB_Sustainability",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.filesystem_adls",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.directory_substitution",
																"type": "Expression"
															},
															"file": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_FTP_Files",
														"type": "DatasetReference",
														"parameters": {
															"table": {
																"value": "@pipeline().parameters.table_substitution",
																"type": "Expression"
															},
															"schema": {
																"value": "@pipeline().parameters.schema_ftp",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Execute Pipeline1_copy1_copy1",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "SP_Temp_Table_to_Rnd_Substitution",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_Tran_Adhoc_Files_Target_Table_to_Curated",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"filename": {
															"value": "@pipeline().parameters.file_name",
															"type": "Expression"
														},
														"table": {
															"value": "@pipeline().parameters.table_substitution_rnd",
															"type": "Expression"
														},
														"container": {
															"value": "@pipeline().parameters.container_export",
															"type": "Expression"
														},
														"job_file_key": {
															"value": "@activity('LKP_Job_File_Log_substitution').output.firstRow.job_file_key",
															"type": "Expression"
														},
														"job_name_exclusion_value": {
															"value": "@pipeline().parameters.job_name_substitution",
															"type": "Expression"
														},
														"mapping_dynamic": {
															"value": "@pipeline().parameters.mapping_substitution",
															"type": "Expression"
														},
														"file_name_query": {
															"value": "@pipeline().parameters.susbst_file_name_query",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "TU M",
										"activities": [
											{
												"name": "Copyfrom_FTP_to_Raw_Manual_Subs",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "FtpReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false,
															"useBinaryTransfer": true
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": {
																"value": "@pipeline().parameters.file_extension",
																"type": "Expression"
															}
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_FTP_All_Files",
														"type": "DatasetReference",
														"parameters": {
															"directory": {
																"value": "@pipeline().globalParameters.directory_ftp_adhoc",
																"type": "Expression"
															},
															"file": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															},
															"sheet_name": {
																"value": "@pipeline().parameters.sheet_manual_substitution",
																"type": "Expression"
															},
															"range": {
																"value": "@pipeline().parameters.range_manual_substitution",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_PLM_EBOM_copy2",
														"type": "DatasetReference",
														"parameters": {
															"filesystem": {
																"value": "@pipeline().parameters.filesystem_adls",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.directory_substitution",
																"type": "Expression"
															},
															"filename": "@concat(variables('container'),'.xlsx')"
														}
													}
												]
											},
											{
												"name": "Copy_from_raw_to_Temp_table_manua_Subst",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Copyfrom_FTP_to_Raw_Manual_Subs",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "substitution_file_name",
																"value": {
																	"value": "@pipeline().parameters.file_name",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"tableOption": "autoCreate"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ABLB_Sustainability",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.filesystem_adls",
																"type": "Expression"
															},
															"directory": {
																"value": "@pipeline().parameters.directory_substitution",
																"type": "Expression"
															},
															"file": {
																"value": "@pipeline().parameters.file_name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_FTP_Files",
														"type": "DatasetReference",
														"parameters": {
															"table": {
																"value": "@pipeline().parameters.table_manual_substitution",
																"type": "Expression"
															},
															"schema": {
																"value": "@pipeline().parameters.schema_ftp",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Set variable2_copy1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "df_name",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "container",
					"value": {
						"value": "@substring(pipeline().parameters.file_name,0,indexof(pipeline().parameters.file_name,'.'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"file_name": {
				"type": "string"
			},
			"directory_sftp": {
				"type": "string",
				"defaultValue": "/home/svcrndreporting"
			},
			"directory_export": {
				"type": "string",
				"defaultValue": "Raw/RnD/Adhoc_Files/Export"
			},
			"filesystem_adls": {
				"type": "string",
				"defaultValue": "clx-datalake"
			},
			"table_job_control": {
				"type": "string",
				"defaultValue": "job_control"
			},
			"table_job_run_log": {
				"type": "string",
				"defaultValue": "job_run_log"
			},
			"table_job_file_log": {
				"type": "string",
				"defaultValue": "job_file_log"
			},
			"schema": {
				"type": "string",
				"defaultValue": "etl"
			},
			"file_size": {
				"type": "string"
			},
			"all_xlsx_files": {
				"type": "string",
				"defaultValue": "*.xlsx"
			},
			"directory_ftp": {
				"type": "string",
				"defaultValue": "Sustainability Reporting Manual Update Files"
			},
			"file_extension": {
				"type": "string",
				"defaultValue": ".xlsx"
			},
			"schema_ftp": {
				"type": "string",
				"defaultValue": "tmp"
			},
			"table_export": {
				"type": "string",
				"defaultValue": "lnd_international_export"
			},
			"table_exclusion": {
				"type": "string",
				"defaultValue": "lnd_material_exclusion"
			},
			"table_substitution": {
				"type": "string",
				"defaultValue": "lnd_material_substitution"
			},
			"sheet_export": {
				"type": "string",
				"defaultValue": "Summary"
			},
			"sheet_exclusion": {
				"type": "string",
				"defaultValue": "WIP"
			},
			"sheet_substitutions": {
				"type": "string",
				"defaultValue": "Substitutions"
			},
			"range_export": {
				"type": "string",
				"defaultValue": "A1:I36"
			},
			"range_exclusion": {
				"type": "string",
				"defaultValue": "A2:F42"
			},
			"range_substitution": {
				"type": "string",
				"defaultValue": "A3:G46"
			},
			"directory_exclusion": {
				"type": "string",
				"defaultValue": "Raw/RnD/Adhoc_Files/Exclusion"
			},
			"directory_substitution": {
				"type": "string",
				"defaultValue": "Raw/RnD/Adhoc_Files/Substitution"
			},
			"email_url": {
				"type": "string",
				"defaultValue": "https://prod-51.eastus2.logic.azure.com:443/workflows/ceda425476814f708eb7cc9d5367112a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=VK3vUyZ1Fxy6PdExFQAekhkbehfXiU6f9tEztB4qy-c"
			},
			"action_insert": {
				"type": "string",
				"defaultValue": "insert"
			},
			"action_update": {
				"type": "string",
				"defaultValue": "update"
			},
			"exec_status": {
				"type": "string",
				"defaultValue": "In Progress"
			},
			"run_status_pass": {
				"type": "string",
				"defaultValue": "Success"
			},
			"run_status_fail": {
				"type": "string",
				"defaultValue": "Failed"
			},
			"sheet_manual_substitution": {
				"type": "string",
				"defaultValue": "TU's"
			},
			"range_manual_substitution": {
				"type": "string",
				"defaultValue": "E1:Q4"
			},
			"table_manual_substitution": {
				"type": "string",
				"defaultValue": "lnd_manual_substituion"
			},
			"table_exclusion_rnd": {
				"type": "string",
				"defaultValue": "material_exclusion"
			},
			"job_name_exclusion": {
				"type": "string",
				"defaultValue": "Archive_and_Load_Exclusion_File"
			},
			"mapping_exclusion": {
				"type": "string",
				"defaultValue": " \"type\": \"TabularTranslator\",             \"mappings\": [                 {                     \"source\": {                         \"name\": \"seq_id\",                         \"type\": \"Int64\",                         \"physicalType\": \"bigint\"                     },                     \"sink\": {                         \"name\": \"seq_id\",                         \"type\": \"Int64\",                         \"physicalType\": \"INT_64\"                     }                 },                 {                     \"source\": {                         \"name\": \"tradeunit\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"tradeunit\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"material_spec\",                         \"type\": \"Double\",                         \"physicalType\": \"float\"                     },                     \"sink\": {                         \"name\": \"material_spec\",                         \"type\": \"Double\",                         \"physicalType\": \"DOUBLE\"                     }                 },                 {                     \"source\": {                         \"name\": \"material_description\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"material_description\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"material_division\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"material_division\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"point_person\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"point_person\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"notes\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"notes\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"created_db_timestamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"datetime\"                     },                     \"sink\": {                         \"name\": \"created_db_timestamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"INT_96\"                     }                 },                 {                     \"source\": {                         \"name\": \"last_modified_db_timestamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"datetime\"                     },                     \"sink\": {                         \"name\": \"last_modified_db_timestamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"INT_96\"                     }                 },                 {                     \"source\": {                         \"name\": \"exclusion_file_name\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"exclusion_file_name\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"hashkey\",                         \"type\": \"Byte[]\",                         \"physicalType\": \"varbinary\"                     },                     \"sink\": {                         \"name\": \"hashkey\",                         \"type\": \"Byte[]\",                         \"physicalType\": \"BINARY\"                     }                 }             ]"
			},
			"container_exclusion": {
				"type": "string",
				"defaultValue": "clx-datalake/Curated/RnD/Adhoc_Files/Exclusion"
			},
			"container_substitution": {
				"type": "string",
				"defaultValue": "clx-datalake/Curated/RnD/Adhoc_Files/Substitution"
			},
			"container_export": {
				"type": "string",
				"defaultValue": "clx-datalake/Curated/RnD/Adhoc_Files/Export"
			},
			"mapping_substitution": {
				"type": "string",
				"defaultValue": " \"type\": \"TabularTranslator\",             \"mappings\": [                 {                     \"source\": {                         \"name\": \"seq_id\",                         \"type\": \"Int64\",                         \"physicalType\": \"bigint\"                     },                     \"sink\": {                         \"name\": \"seq_id\",                         \"type\": \"Int64\",                         \"physicalType\": \"INT_64\"                     }                 },                 {                     \"source\": {                         \"name\": \"material_spec\",                         \"type\": \"Double\",                         \"physicalType\": \"float\"                     },                     \"sink\": {                         \"name\": \"material_spec\",                         \"type\": \"Double\",                         \"physicalType\": \"DOUBLE\"                     }                 },                 {                     \"source\": {                         \"name\": \"material_description\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"material_description\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"material_division\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"material_division\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"material_pcr\",                         \"type\": \"Double\",                         \"physicalType\": \"float\"                     },                     \"sink\": {                         \"name\": \"material_pcr\",                         \"type\": \"Double\",                         \"physicalType\": \"DOUBLE\"                     }                 },                 {                     \"source\": {                         \"name\": \"material_weight\",                         \"type\": \"Double\",                         \"physicalType\": \"float\"                     },                     \"sink\": {                         \"name\": \"material_weight\",                         \"type\": \"Double\",                         \"physicalType\": \"DOUBLE\"                     }                 },                 {                     \"source\": {                         \"name\": \"point_person\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"point_person\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"notes\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"notes\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"create_timestamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"datetime\"                     },                     \"sink\": {                         \"name\": \"create_timestamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"INT_96\"                     }                 },                 {                     \"source\": {                         \"name\": \"last_modified_timestamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"datetime\"                     },                     \"sink\": {                         \"name\": \"last_modified_timestamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"INT_96\"                     }                 },                 {                     \"source\": {                         \"name\": \"substitution_file_name\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"substitution_file_name\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"hashkey\",                         \"type\": \"Byte[]\",                         \"physicalType\": \"varbinary\"                     },                     \"sink\": {                         \"name\": \"hashkey\",                         \"type\": \"Byte[]\",                         \"physicalType\": \"BINARY\"                     }                 }             ]"
			},
			"mapping_export": {
				"type": "string",
				"defaultValue": " \"type\": \"TabularTranslator\",             \"mappings\": [                 {                     \"source\": {                         \"name\": \"seq_id\",                         \"type\": \"Int64\",                         \"physicalType\": \"bigint\"                     },                     \"sink\": {                         \"name\": \"seq_id\",                         \"type\": \"Int64\",                         \"physicalType\": \"INT_64\"                     }                 },                 {                     \"source\": {                         \"name\": \"metric\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"metric\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"region\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"region\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"value\",                         \"type\": \"Double\",                         \"physicalType\": \"float\"                     },                     \"sink\": {                         \"name\": \"value\",                         \"type\": \"Double\",                         \"physicalType\": \"DOUBLE\"                     }                 },                 {                     \"source\": {                         \"name\": \"export_file_name\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"export_file_name\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"load_date\",                         \"type\": \"DateTime\",                         \"physicalType\": \"date\"                     },                     \"sink\": {                         \"name\": \"load_date\",                         \"type\": \"DateTime\",                         \"physicalType\": \"INT_96\"                     }                 },                 {                     \"source\": {                         \"name\": \"created_db_timetamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"datetime\"                     },                     \"sink\": {                         \"name\": \"created_db_timetamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"INT_96\"                     }                 },                 {                     \"source\": {                         \"name\": \"last_modified_db_timestamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"datetime\"                     },                     \"sink\": {                         \"name\": \"last_modified_db_timestamp\",                         \"type\": \"DateTime\",                         \"physicalType\": \"INT_96\"                     }                 }             "
			},
			"job_name_substitution": {
				"type": "string",
				"defaultValue": "Archive_and_Load_Substitution_File"
			},
			"job_name_export": {
				"type": "string",
				"defaultValue": "Archive_and_Load_Export_File"
			},
			"table_substitution_rnd": {
				"type": "string",
				"defaultValue": "material_substitution"
			},
			"table_export_rnd": {
				"type": "string",
				"defaultValue": "international_export"
			},
			"export_file_name_query": {
				"type": "string",
				"defaultValue": "export_file_name"
			},
			"exclusion_file_name_query": {
				"type": "string",
				"defaultValue": "exclusion_file_name"
			},
			"susbst_file_name_query": {
				"type": "string",
				"defaultValue": "substitution_file_name"
			}
		},
		"variables": {
			"container": {
				"type": "String",
				"defaultValue": "clx-datalake"
			},
			"directory": {
				"type": "String",
				"defaultValue": "Raw/RnD/PLM/EBOM"
			},
			"job_key": {
				"type": "String"
			},
			"job_run_key": {
				"type": "String"
			},
			"job_file_key": {
				"type": "String"
			},
			"file_transfer_flag": {
				"type": "String",
				"defaultValue": "Y"
			},
			"job_name_Export_value": {
				"type": "String",
				"defaultValue": "PickFile_ExportFile_FTP_ADLS"
			},
			"filename_trim_value": {
				"type": "String"
			},
			"job_name_Sustainability_value": {
				"type": "String",
				"defaultValue": "PickFile_Sustainability_SFTP_ADLS"
			},
			"directory_sust": {
				"type": "String",
				"defaultValue": "Raw/RnD/PLM/Sustainability"
			},
			"df_name": {
				"type": "String"
			},
			"job_name_SAP_value": {
				"type": "String",
				"defaultValue": "PickFile_SAP_SFTP_ADLS"
			},
			"directory_sap": {
				"type": "String",
				"defaultValue": "Raw/RnD/SAP"
			},
			"job_name": {
				"type": "String"
			},
			"job_name_exclusion": {
				"type": "String",
				"defaultValue": "PickFile_ExclusionFile_FTP_ADLS"
			},
			"job_name_substitution": {
				"type": "String",
				"defaultValue": "PickFile_SubstitutionFile_FTP_ADLS"
			}
		},
		"folder": {
			"name": "Extra"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-17T13:38:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}