pipeline/PL_Tran_Sustainability_Staging_Table_to_Curated_ADLS_Updated.json
{
	"name": "PL_Tran_Sustainability_Staging_Table_to_Curated_ADLS_Updated",
	"properties": {
		"activities": [
			{
				"name": "PF_Sustainability_Job_Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "job_name_sust",
					"value": {
						"value": "@variables('job_name_sust_value')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LKP_Job_Key_Sustainability",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PF_Sustainability_Job_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select job_key from ' ,pipeline().parameters.schema,'.',pipeline().parameters.table_job_control,' where job_name=''',variables('job_name_sust_value'),'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LND_STG_ADMIN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_from_Stg_to_Curated",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_Job_Run_Log_Sustainability",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ', pipeline().parameters.schema_stg,'.',pipeline().parameters.table, ' where sustainability_file_name = ''' , pipeline().parameters.filename,''' ;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "level",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "level",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "relation_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "relation_name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "from_or_to",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "from_or_to",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "material_type",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_spec",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "material_spec",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_part_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "material_part_name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_weight",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "material_weight",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "material_uom",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "material_uom",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_pcr",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "material_pcr",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "revision",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "revision",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "sustainability_file_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "sustainability_file_name",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_Lnd",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.schema_stg",
								"type": "Expression"
							},
							"table": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_CSV_to_Parquet_Material_Type",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@concat(formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LKP_Job_Run_Log_Sustainability",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_Job_Key_Sustainability",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Rnd].[USP_Insert_Job_Run]",
						"storedProcedureParameters": {
							"ADF_Name": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"file_transfer_flag": {
								"type": "String",
								"value": {
									"value": "@variables('file_transfer_flag')",
									"type": "Expression"
								}
							},
							"job_key": {
								"type": "String",
								"value": {
									"value": "@activity('LKP_Job_Key_Sustainability').output.firstRow.job_key",
									"type": "Expression"
								}
							},
							"job_start_date_time": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"last_update_date": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"Pipeline_Name": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"Pipeline_Start_Time": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"PL_Run_ID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"Action": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.action_insert",
									"type": "Expression"
								}
							},
							"Execution_Status": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.exec_status",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LND_STG_ADMIN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP_Job_Run_Status_Sustainability",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_from_Stg_to_Curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Rnd].[USP_Insert_Job_Run]",
					"storedProcedureParameters": {
						"Action": {
							"value": {
								"value": "@pipeline().parameters.action_update",
								"type": "Expression"
							},
							"type": "String"
						},
						"ADF_Name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@pipeline().parameters.run_status_pass",
								"type": "Expression"
							},
							"type": "String"
						},
						"file_transfer_flag": {
							"value": {
								"value": "@variables('file_transfer_flag')",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_key": {
							"value": {
								"value": "@activity('LKP_Job_Key_Sustainability').output.firstRow.job_key",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_start_date_time": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"last_update_date": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Start_Time": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PL_Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQDb_Admin",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update_Job_File_Log_Sustainability",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SP_Job_Run_Status_Sustainability",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Rnd].[USP_Job_File_Log]",
						"storedProcedureParameters": {
							"file_location": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.container",
									"type": "Expression"
								}
							},
							"file_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.filename",
									"type": "Expression"
								}
							},
							"file_size": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.file_size",
									"type": "Expression"
								}
							},
							"job_key": {
								"type": "String",
								"value": {
									"value": "@activity('LKP_Job_Key_Sustainability').output.firstRow.job_key",
									"type": "Expression"
								}
							},
							"job_run_key": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.job_run_key",
									"type": "Expression"
								}
							},
							"job_file_key": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.job_file_key",
									"type": "Expression"
								}
							},
							"datafactory_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"pipeline_trigger_time": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"pipeline_trigger_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"pipeline_run_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"pipeline_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LND_STG_ADMIN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Execute_Fail_Alert",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy_from_Stg_to_Curated",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Fail_Alert",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"job_key": {
							"value": "@activity('LKP_Job_Key_Sustainability').output.firstRow.job_key",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Move_Sustainability_File_to_Archive_SFTP",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Update_Job_File_Log_Sustainability",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "SftpWriteSettings",
							"operationTimeout": "01:00:00",
							"useTempFileRename": true
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SFTP_Files_copy1",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().globalParameters.directory_sftp",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SFTP_Files",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().globalParameters.directory_sftp_archive",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete_Sustainability_File_From_SFTP",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move_Sustainability_File_to_Archive_SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SFTP_Files_copy1",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().globalParameters.directory_sftp",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "control_etl"
			},
			"table_job_control": {
				"type": "string",
				"defaultValue": "job_control"
			},
			"table_job_run_log": {
				"type": "string",
				"defaultValue": "job_run_log"
			},
			"table_job_file_log": {
				"type": "string",
				"defaultValue": "job_file"
			},
			"filesystem_adls": {
				"type": "string",
				"defaultValue": "clx-datalake"
			},
			"job_run_key": {
				"type": "string"
			},
			"filename": {
				"type": "string"
			},
			"schema_stg": {
				"type": "string",
				"defaultValue": "tmp"
			},
			"table": {
				"type": "string",
				"defaultValue": "stg_sustainability"
			},
			"container": {
				"type": "string",
				"defaultValue": "clx-datalake/Curated/RnD/PLM/Sustainability"
			},
			"action_insert": {
				"type": "string"
			},
			"exec_status": {
				"type": "string"
			},
			"action_update": {
				"type": "string",
				"defaultValue": "update"
			},
			"run_status_pass": {
				"type": "string",
				"defaultValue": "Success"
			},
			"run_status_failed": {
				"type": "string",
				"defaultValue": "Failed"
			},
			"email_url": {
				"type": "string",
				"defaultValue": "https://prod-51.eastus2.logic.azure.com:443/workflows/ceda425476814f708eb7cc9d5367112a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=VK3vUyZ1Fxy6PdExFQAekhkbehfXiU6f9tEztB4qy-c"
			},
			"file_size": {
				"type": "string"
			},
			"directory_sftp": {
				"type": "string",
				"defaultValue": "/home/svcrndreporting/"
			},
			"directory_sftp_archive": {
				"type": "string",
				"defaultValue": "/home/svcrndreporting/Archive/"
			},
			"job_file_key": {
				"type": "string"
			}
		},
		"variables": {
			"job_name_sust_value": {
				"type": "String",
				"defaultValue": "Archive_and_Load_Sustainability"
			},
			"job_name_sust": {
				"type": "String"
			},
			"job_key": {
				"type": "String"
			},
			"file_transfer_flag": {
				"type": "String",
				"defaultValue": "Y"
			}
		},
		"folder": {
			"name": "PL_ClOROX_SR"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-22T08:14:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}