pipeline/PL_Tran_EBOM_Staging_Table_to_Curated_ADLS.json
{
	"name": "PL_Tran_EBOM_Staging_Table_to_Curated_ADLS",
	"properties": {
		"activities": [
			{
				"name": "PF_EBOM_Job_Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "job_name_ebom",
					"value": {
						"value": "@variables('job_name_ebom_value')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LKP_Job_Key_EBOM",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PF_EBOM_Job_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select job_key from ' ,pipeline().parameters.schema,'.',pipeline().parameters.table_job_control,' where job_name=''',variables('job_name_ebom_value'),'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LND_STG_ADMIN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_from_Stg_to_Curated",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_Job_Run_Log_EBOM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ', pipeline().parameters.schema_stg,'.',pipeline().parameters.table, ' where ebom_file_name = ''' , pipeline().parameters.filename,''' ;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "seq_id",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "seq_id",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "level",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "level",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "relation_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "relation_name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "from_or_to",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "from_or_to",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "material_type",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_part",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "material_part",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_description",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "material_description",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_specification",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "material_specification",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_quantity",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "material_quantity",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "material_uom",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "material_uom",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "material_division",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "material_division",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "revision",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "revision",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "recyclable_plastic_weight",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "recyclable_plastic_weight",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "recycle_weight",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "recycle_weight",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "package_reuse_weight",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "package_reuse_weight",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "compostable_weight",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "compostable_weight",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "plastic_weight",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "plastic_weight",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "country_of_origin",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "country_of_origin",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "certification_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "certification_type",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "created_date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "created_date",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "last_modified_date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "last_modified_date",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "created_db_timestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "created_db_timestamp",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "last_modified_db_timestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "last_modified_db_timestamp",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ebom_file_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ebom_file_name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "hashkey",
									"type": "Byte[]",
									"physicalType": "varbinary"
								},
								"sink": {
									"name": "hashkey",
									"type": "Byte[]",
									"physicalType": "BINARY"
								}
							},
							{
								"source": {
									"name": "cdc_flag",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "cdc_flag",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "parent",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "parent",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_Lnd",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.schema_stg",
								"type": "Expression"
							},
							"table": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_CSV_to_Parquet_Material_Type",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@concat(formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'))",
								"type": "Expression"
							},
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LKP_Job_Run_Log_EBOM",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_Job_Key_EBOM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Rnd].[USP_Insert_Job_Run]",
						"storedProcedureParameters": {
							"ADF_Name": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"file_transfer_flag": {
								"type": "String",
								"value": {
									"value": "@variables('file_transfer_flag')",
									"type": "Expression"
								}
							},
							"job_key": {
								"type": "String",
								"value": {
									"value": "@activity('LKP_Job_Key_EBOM').output.firstRow.job_key",
									"type": "Expression"
								}
							},
							"job_start_date_time": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"last_update_date": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"Pipeline_Name": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"Pipeline_Start_Time": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"PL_Run_ID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"Action": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.action_insert",
									"type": "Expression"
								}
							},
							"Execution_Status": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.exec_status",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LND_STG_ADMIN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_Update_Records_In_Run_Log",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy_from_Stg_to_Curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('Update ' ,pipeline().parameters.schema,'.',pipeline().parameters.table_job_run_log, ' set records_copied = ' , activity('Copy_from_Stg_to_Curated').output.rowsCopied ,  ',' ,  ' records_read = ' , activity('Copy_from_Stg_to_Curated').output.rowsRead , ' where  job_key = ' , activity('LKP_Job_Key_EBOM').output.firstRow.job_key, ' and job_run_key =' , activity('LKP_Job_Run_Log_EBOM').output.firstRow.job_run_key, ';select 0 as DummyValue;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LND_STG_ADMIN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP_Job_Run_Status_EBOM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKP_Update_Records_In_Run_Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Rnd].[USP_Insert_Job_Run]",
					"storedProcedureParameters": {
						"Action": {
							"value": {
								"value": "@pipeline().parameters.action_update",
								"type": "Expression"
							},
							"type": "String"
						},
						"ADF_Name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@pipeline().parameters.run_status_pass",
								"type": "Expression"
							},
							"type": "String"
						},
						"file_transfer_flag": {
							"value": {
								"value": "@variables('file_transfer_flag')",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_key": {
							"value": {
								"value": "@activity('LKP_Job_Key_EBOM').output.firstRow.job_key",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_start_date_time": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"last_update_date": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Start_Time": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PL_Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQDb_Admin",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update_Job_File_Log_EBOM",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SP_Job_Run_Status_EBOM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Rnd].[USP_Job_File_Log]",
						"storedProcedureParameters": {
							"file_location": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.container",
									"type": "Expression"
								}
							},
							"file_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.filename",
									"type": "Expression"
								}
							},
							"file_size": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.file_size",
									"type": "Expression"
								}
							},
							"job_key": {
								"type": "String",
								"value": {
									"value": "@activity('LKP_Job_Key_EBOM').output.firstRow.job_key",
									"type": "Expression"
								}
							},
							"job_run_key": {
								"type": "String",
								"value": {
									"value": "@activity('LKP_Job_Run_Log_EBOM').output.firstRow.job_run_key",
									"type": "Expression"
								}
							},
							"job_file_key": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.job_file_key",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LND_STG_ADMIN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Execute_Fail_Alert",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy_from_Stg_to_Curated",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Fail_Alert",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"job_key": {
							"value": "@activity('LKP_Job_Key_EBOM').output.firstRow.job_key",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Move_EBOM_File_to_Archive_SFTP",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Update_Job_File_Log_EBOM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "SftpWriteSettings",
							"operationTimeout": "01:00:00",
							"useTempFileRename": true
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SFTP_Files_copy1",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().globalParameters.directory_sftp",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SFTP_Files",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().globalParameters.directory_sftp_archive",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete_EBOM_File_From_SFTP",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move_EBOM_File_to_Archive_SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SFTP_Files_copy1",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().globalParameters.directory_sftp",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "etl"
			},
			"table_job_control": {
				"type": "string",
				"defaultValue": "job_control"
			},
			"table_job_run_log": {
				"type": "string",
				"defaultValue": "job_run_log"
			},
			"table_job_file_log": {
				"type": "string",
				"defaultValue": "job_file_log"
			},
			"filesystem_adls": {
				"type": "string",
				"defaultValue": "clx-datalake"
			},
			"job_run_key": {
				"type": "string"
			},
			"filename": {
				"type": "string"
			},
			"schema_stg": {
				"type": "string",
				"defaultValue": "tmp"
			},
			"table": {
				"type": "string",
				"defaultValue": "stg_ebom"
			},
			"container": {
				"type": "string",
				"defaultValue": "clx-datalake/Curated/RnD/PLM/EBOM"
			},
			"action_insert": {
				"type": "string"
			},
			"exec_status": {
				"type": "string"
			},
			"action_update": {
				"type": "string",
				"defaultValue": "update"
			},
			"run_status_pass": {
				"type": "string",
				"defaultValue": "Success"
			},
			"run_status_failed": {
				"type": "string",
				"defaultValue": "Failed"
			},
			"email_url": {
				"type": "string",
				"defaultValue": "https://prod-51.eastus2.logic.azure.com:443/workflows/ceda425476814f708eb7cc9d5367112a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=VK3vUyZ1Fxy6PdExFQAekhkbehfXiU6f9tEztB4qy-c"
			},
			"file_size": {
				"type": "string"
			},
			"directory_sftp": {
				"type": "string",
				"defaultValue": "/home/svcrndreporting/"
			},
			"directory_sftp_archive": {
				"type": "string",
				"defaultValue": "/home/svcrndreporting/Archive/"
			},
			"job_file_key": {
				"type": "string"
			}
		},
		"variables": {
			"job_name_ebom_value": {
				"type": "String",
				"defaultValue": "Archive_and_Load_EBOM"
			},
			"job_name_ebom": {
				"type": "String"
			},
			"job_key": {
				"type": "String"
			},
			"file_transfer_flag": {
				"type": "String",
				"defaultValue": "Y"
			}
		},
		"folder": {
			"name": "PL_ClOROX_SR"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-17T11:04:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}